{% extends "layout.html.twig" %}

{% block content %}

    <form id="pay" method="POST" action="{{ path('pay') }}">
        <h1 class="cover-heading">Pay <b>one dolar</b> and be on the top list</h1>
        <p class="notice lead">Cover is a one-page template for building simple and beautiful home pages.
            Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <div class="input-group username">
            <span class="input-group-addon" id="basic-addon1">#</span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   aria-describedby="basic-addon1">
        </div>
        <p class="lead">
            <a onclick="document.getElementById('pay').submit();" href="#" class="">
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-60px.png"
                     alt="PayPal">
            </a>
        </p>
    </form>
{% endblock %}
