{% extends "layout.html.twig" %}

{% block content %}
    <p>
        {{ data }}
    </p>

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <div class="summary">
                    <h1 class="cover-heading">Thanks. You are <span class="number">54</span>.</h1>
                    <p class="notice lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_64 a2a_default_style">
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_google_plus"></a>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                </div>


                <table class="list table table-inverse">
                    <tbody>
                    <tr>
                        <th scope="row">55</th>
                        <td>Mark Zukerb</td>
                    </tr>
                    <tr>
                        <th scope="row">54</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">52</th>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                        <th scope="row">51</th>
                        <td>Qwerteusz maly</td>
                    </tr>
                    <tr>
                        <th scope="row">50</th>
                        <td>Zenobiuszek333</td>
                    </tr>
                    <tr>
                        <th scope="row">49</th>
                        <td>Kenny</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">54</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">54</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td>Larry</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; 2017</p>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
