{% extends "layout.html.twig" %}

{% block content %}
    <div class="summary">
        <h1 class="cover-heading">Thanks. You are <span class="number">{{ myId }}</span>.</h1>
        <p class="notice lead">You see this list only once! Please be aware of that before leaving the page.</p>
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_64 a2a_default_style">
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_google_plus"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
    </div>


    <table class="list table table-inverse">
        <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
